<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>予算</strong>
  <%= @blog.content %>円
</p>

<p>
  <strong>使用金額</strong>
  <% if @blog.content2 != nil %>
    <%= @blog.content2 %>円
  <% end %>
</p>

<p>
  <strong>節約金額</strong>
  <% if @blog.content2 != nil %>
    <%= @blog_calc %>円
  <% end %>
</p>

<p>
  <strong>日時</strong>
  <%= @blog.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %>
<%= link_to '消去', blog_path(@blog.id), {method: "post"}%>
<%= link_to '戻る', blogs_path %>
</div>